<% if current_lendee %>
  <div class="navbar navbar-default navbar-static-top navbar-lendee">
    <div class="container">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">dev_tank</a>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav pull-right">
          <li><%= link_to "Log Out", destroy_lendee_session_path, method: :delete %></li>
        </ul>
      </div>
    </div>
  </div>
<% elsif current_lender %>
  <div class="navbar navbar-default navbar-static-top navbar-lendee">
    <div class="container">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">dev_tank</a>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav pull-right">
          <li><%= link_to "Browse Notes", browse_loans_path %></li>
          <li><%= link_to "QuikInvest", "#"%></li>
          <li><%= link_to "Log Out", destroy_lendee_session_path, method: :delete %></li>
        </ul>
      </div>
    </div>
  </div>
<% end %>
