<div class="jumbotron jumbo-index">
    <div class="opaque">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h2>Fund your tech education from as low as 6.78% APR</h2>
          </div>
          <div class="col-md-4">
            <h3>Check your rate</h3>
            <%= form_tag '/check_rate', method: :post do -%>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon">$</div>
                    <%= number_field_tag 'amount', nil, placeholder: 'How much do you need?', class: 'form-control', in: 1000..15000%>
                </div>
              </div>
              <br />
              <%= select_tag(:credit_range, options_for_select([['Poor( less than 600)', 'below 600'], ['Fair (600-660)', '600-660'], ['Good (660-720)', '660-720'], ['Excellent (720+)', '720+']]), placeholder: "What's yoru credit?", class: 'form-control') %>
              <br />
              <%= submit_tag 'Check Rate Now', class: 'btn btn-success'  %>
            <% end -%>
          </div>
        </div>
      </div>
  </div>
</div>
